.formColumn{
  min-width: 300px;
  max-width: 400px;
  margin: 0 4rem;
}
.extraLogoWrapper{
  position: relative;

  .extraLogo{
    position: absolute;
    margin-left: 1rem;
    left: 100%;
    top: 50%;
    width: 60px;
  }
}
.paymentWrapper{
  border: 2px solid #c5d5e6;
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
}