.formColumn {
  min-width: 260px;
  width: 360px;
  max-width: 400px;
  margin: 0 4rem;
}

.inputOrg {
  position: relative;


  .extraLogoDiv {
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 100%;
    margin-left: 1rem;

    &.changeLogoDiv {
      top: 19px;
    }

    .extraLogoLink {
      overflow: hidden;
    }

    .extraLogoInput {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
      width: 72px;
    }

    .labelWrap:hover {
      .extraLogoLabel {
        text-decoration: underline;
      }
    }

    .extraLogoLabel {
      color: #4d92e3;
      font-size: 10pt;
      margin-bottom: 0;
      white-space: nowrap;
    }
  }

  .deleteLogoDiv {
    cursor: pointer;
    color: #e34d5a;
    font-size: 10pt;
  }

  .deleteLogoDiv:hover{
    text-decoration: underline;
  }

  @media (max-width: 575.98px) {
    .extraLogoDiv {
      position: relative;
      margin-left: 0;
      left: 0;
      top: 0;

      &.changeLogoDiv {
        top: 0;
      }
    }
  }
}

.paymentWrapper {
  border: 2px solid #c5d5e6;
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
}

.closeHandle {
  position: absolute;
  right: 5px;
  top: -60px;
  color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.25s all;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
}

@media (max-width: 575.98px) {
  .paymentWrapper {
    padding: 0.75rem 0.75rem;
  }
}